header h1{
    position: absolute;
    color:rgb(20, 22, 22);
    bottom: 2rem;
    left: 1rem;

}

header {
display: inline-table;
border: black;

}


/* this is for syling the image in header */
header img{
 
}

.img {
    
}

body{
    background-color: bisque;

    
}

p{

}

h1{

}

.container{

}

.intro{
 
}