header h1{
    position: absolute;
    color:rgb(20, 22, 22);
    bottom: 2rem;
    left: 1rem;

}

header{
    max-width: 1800px;
    margin: auto;
    display: table;
}

#mListTag{
margin-top: 1px;


}

#error{
    display: none;
    color:black;
}

/* this is for the header img */
.img-fluid{
    display:flex;
    justify-content: center;

}
form{
    max-width: 900px;
}

#x-1{
    display: none;
}

#sdate{
    display: inline-flexbox;
}

/* used to prevent error for blank space. This was for the original center image banner. */
.img {
    display: inline-block;
}

body{
    background-color: bisque;

    
}

.tasklist {
    margin-top: 13px;
    border:13px solid seagreen;
}
